* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 5000px;
}
/* header navigation */

.container {
    margin: 0 auto;
    max-width: 1020px;
}

header {
    height: 1080px;
    background-image: url(../img/bg.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    position: fixed;
    border-radius: 0 0 15px 15px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    max-width: 800px;
    align-items: center;
    margin-left: 100px;
}

a {
    color: #000;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover {
    background-size: 100% 2px;
}


nav ul li {
    width: 200px;
    padding: 20px 50px;
    font-size: 18px;
}

nav ul li:last-child{
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 15px;
}

nav ul li:last-child a{
    color: #fff;
}

.logo {
    width: 62px;
    height: 62px;
}

/* header main */

.header_main {
    padding-top: 200px;
}

.header_main h1, .header_main p {
    text-align: center;
    margin: 10px 0;
}

.header_main h1 {
    font-size: 56px;
}

.header_main p {
    font-size: 22px;
    max-width: 900px;
    margin: 0 auto;
}

.header_main p span {
    color: #FF7373;
}

.header_main_buttons_container{
    margin: 50px auto;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header_main_download_button {
    height: 60px;
    width: 200px;
    font-size: 18px;
    background: #000;
    border: 0;
    border-radius: 15px;
    color: #fff;
}

#header_main_info_button {
    height: 60px;
    width: 200px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 15px;
    color: #000;
}

#header_main_download_button:hover, #header_main_info_button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}