header {
    height: 100%;
    padding-bottom: 22%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    
}

nav ul li:first-child a{
    background-size: 100% 2px;
}

/* header main */

.header_main {
    padding-top: 200px;
}

.header_main h1, .header_main p {
    text-align: center;
    margin: 10px 0;
}

.header_main h1 {
    font-size: 56px;
}

.header_main p {
    font-size: 22px;
    max-width: 900px;
    margin: 0 auto;
}

.header_main p span {
    color: #FF7373;
}

.header_main_buttons_container{
    margin: 50px auto;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#header_main_download_button {
    height: 60px;
    width: 200px;
    font-size: 18px;
    background: #000;
    border: 0;
    border-radius: 15px;
    color: #fff;
}

#header_main_info_button {
    height: 60px;
    width: 200px;
    font-size: 18px;
    background: rgba(0, 0, 0, 0);
    border: 2px solid #000;
    border-radius: 15px;
    color: #000;
}

#header_main_download_button:hover, #header_main_info_button:hover{
    transition: 0.2s;
    transform: scale(1.1);
}

/* main */

.main {
    padding-top: 100px;
}

.main span {
    color: #FF7373;
}

.main h1 {
    font-size: 56px;
    text-align: center;
    margin-bottom: 50px;
}

/* carousel */
.main_carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
  }
    
.main_carousel_wrapper {
    display: flex;
    transition: transform 1s ease;
    gap: 20px; /* Отступы между слайдами */
    width: calc(100% + 40px); /* Учитываем отступы */
    padding: 10px; /* Для визуального отступа внутри контейнера */
}
  
.main_carousel_item {
    flex: 1 0 calc((100% - 40px) / 3 - 12px); /* Каждый слайд занимает треть контейнера с учетом отступов */
    box-sizing: border-box;
    padding: 10px;
    background: #cccccc;
    border-radius: 15px;
    box-shadow: 0px 5px 7px 0px rgba(79, 79, 79, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 330px;
    text-align: center;
}
  
.main_carousel_item img {
    width: 50%;
    border-radius: 10px;
}

.main_info_flex{
    display: flex;
    width: 100%;
    flex-direction: row;
}

.main_info_contact{
    width: 50%;
    background: #fff;
    height: auto;
    padding: 20px;
}

.main_info_contact h2, .main_info_mail h2 {
    font-size: 45px;
}

.main_info_contact p {
    color: #FF7373;
    font-size: 22px;
    margin-top: 15px;
    margin-bottom: 40px;
}

.main_info_contact ul li {
    list-style: none;
    color : #000;
    font-size: 18px;
}

.main_info_contact ul li p {
    color : #000;
    font-size: 18px;
}

.main_info_contact i {
    margin-right: 10px;
}

.main_info_mail {
    width: 50%;
    height: auto;
    background: #000;
    display: flex;
    flex-direction: column;
    color: #fff;
    padding: 20px;
    border-radius: 15px 15px 15px 0;
}

.main_info_mail input {
    margin-top: 10px;
    margin-bottom: 20px;
    height: auto;
    font-size: 18px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px 5px 5px 0;
    background: #000;
    border: 1px solid #fff;
}

.main_info_mail span {
    margin-top: 15px;
    font-size: 16px;
}

.main_info_mail textarea {
    margin-top: 10px;
    height: auto;
    font-size: 18px;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px 5px 5px 0;
    background: #000;
    border: 1px solid #fff;
    resize: none;
}

#main_info_send_button {
    margin-top: 35px;
    font-size: 18px;
    background: #fff;
    border: 0;
    border-radius: 5px 5px 5px 0;
    color: #000;
    padding: 5px 0;
}

#main_info_send_button:hover, .main_info_mail textarea:hover, .main_info_mail input:hover{
    transition: 0.3s;
    border-radius: 10px;
}

#coppied {
    transition: transform 1s ease;
    display: none;
    position: fixed;
    bottom: 10%;
    left: 42%;
    font-size: 22px;
    background: #c9c9c9;
    color: #5e5e5e;
    padding: 5px 10px;
    border-radius: 5px;
}

@media screen and (max-width: 1016px) {
    .header_main p {
        font-size: 18px;
    }

    .header_main h1, .main h1 {
        font-size: 50px;
    }

    .main_carousel_item {
        height: 250px;
        font-size: 14px;
    };
}
/* 
@media  screen and (max-width: 854px) {
    .main_info_flex{
        flex-direction: row;
    }

    
} */

@media screen and (max-width: 500px) {
    nav ul li:first-child a{
        background-size: 100% 1px;
    }

    .main h1, .header_main h1, .main_info_contact h2, .main_info_mail h2 {
        font-size: 36px;
    }

    .header_main p, .main p {
        font-size: 12px;
    }

    .main_info_flex {
        flex-direction: column;
    }

    .main_info_contact, .main_info_mail {
        width: 100%;
    }

    #header_main_download_button, #header_main_info_button  {
        height: 45px;
        width: 150px;
        font-size: 12px;
    }   
      
    .main_carousel_item {
        flex: 1 0 calc((100% - 40px) / 2 - 12px); /* Каждый слайд занимает треть контейнера с учетом отступов */
        font-size: 10px;
        height: 200px;
    }

    .header_main {
        padding-top: 80px;
    }

    .main {
        padding-top: 40px;
    }
}

@media screen and (max-width: 281px) {
    #header_main_download_button, #header_main_info_button  {
        height: 30px;
        width: 100px;
        font-size: 10px;
    }   
}